[Unit]
Description=DMRGateway Service
After=network.target

[Service]
ExecStart=/usr/local/bin/DMRGateway /etc/DMRGateway.ini
Restart=always
User=root
WorkingDirectory=/etc
StandardOutput=append:/var/log/dmrgateway.log
StandardError=append:/var/log/dmrgateway.log

[Install]
WantedBy=multi-user.target
