[GLOBAL]
PATH: /opt/hblink
PING_TIME: 10
MAX_MISSED: 5

[REPORTS]
REPORT: False
REPORT_INTERVAL: 60
REPORT_PORT: 4321

[MASTER 1]
NAME: BM
TYPE: MASTER
REPEAT: True
USE_ACL: False
MAX_PEERS: 10
EXPORT_AMBE: False
IP: 127.0.0.1
PORT: 62030
PASSPHRASE: passw0rd
GROUP_HANGTIME: 3
OPTIONS:
    START_REFLECTOR: 4000
    USE: True

[PEER 1]
CALLSIGN: REPEATER
RADIO_ID: ${REPEATER_ID}
IP: 127.0.0.1
PORT: 62000
MASTER_IP: 127.0.0.1
MASTER_PORT: 62030
PASSPHRASE: passw0rd
