[General]
Callsign=N3OCQ
Id={{REPEATER_ID}}
Timeout=240
Duplex=1
RFModeHang=300
NetModeHang=300
Display=None
Daemon=1

[Info]
RXFrequency=438799999
TXFrequency=438800000
Power=1
Latitude=50.00
Longitude=-3.00
Height=0
Location=Town, L0C4T0R
Description=Repeater
URL=http://www.mw0mwz.co.uk/pi-star/

[Log]
DisplayLevel=2
FileLevel=2
FilePath=/var/log/pi-star
FileRoot=MMDVM

[Modem]
Port=/dev/ttyAMA0
Protocol=uart
UARTPort=/dev/ttyAMA0
UARTSpeed=115200
TXInvert=1
RXInvert=1
PTTInvert=0
TXDelay=100
DMRDelay=0
RXOffset=0
TXOffset=0
RXLevel=50
TXLevel=50
UseCOSAsLockout=0
Trace=1
Debug=1

[DMR]
Enable=1
Id={{REPEATER_ID}}
ColorCode=1
EmbeddedLCOnly=0
DumpTAData=1
CallHang=3
TXHang=4
ModeHang=20

[DMR Gateway]
Enable=1
ModeHang=20

[D-Star]
Enable=0
[System Fusion]
Enable=0
[P25]
Enable=0
[NXDN]
Enable=0
[M17]
Enable=0
[POCSAG]
Enable=0
[AX 25]
Enable=0
[FM]
Enable=0
