[General]
Callsign=HOTSPOT
Id=${HOTSPOT_ID}
Timeout=180
Duplex=0

[Info]
RXFrequency=446050000
TXFrequency=446050000

[Log]
FilePath=/var/log/mmdvm/
FileRoot=MMDVM
DisplayLevel=2
FileLevel=2

[DMR]
Enable=1
Id=${HOTSPOT_ID}
ColorCode=1
