[Unit]
Description=HBLink3 Parrot Server
After=network.target

[Service]
User=root
WorkingDirectory=/opt/hblink
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/hblink/venv/bin/python3 parrot.py -c parrot.cfg
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=parrot
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
