[Unit]
Description=Parrot Service
After=network.target

[Service]
ExecStart=/opt/hblink/venv/bin/python3 /opt/hblink/parrot.py -c /opt/hblink/parrot.cfg
WorkingDirectory=/opt/hblink
Restart=always
User=root

[Install]
WantedBy=multi-user.target
