[Unit]
Description=HBLink3 Parrot (Playback Server)
After=network.target

[Service]
WorkingDirectory=/opt/hblink
ExecStart=/opt/hblink/venv/bin/python3 playback.py -c parrot.cfg
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

